
/* google font family link */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.main {
     width: 100vw;
     height: 100vw;
     background: #000;
     display: grid;
     place-items: center;

 }

 .center {
     /* background: rgb(223, 2, 2); */
     width: 150px;
     height: 150px;
     position: relative;

 }

 .rot {
     width: 150px;
     height: 150px;
     border-right: 0.3rem solid #fff;
     border-radius: 50%;
     animation: rot 2s linear infinite;
     position: absolute;
 }

 @keyframes rot {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }


 h3 {
  font-family: 'Ubuntu',
  sans-serif;
     cursive;
     color: white;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

